/* * {
    margin: 0;
}
 ul {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 1em 20em;
    background-color: black;

 }
 li {
    list-style: none;

 }
 li a img {
    width: 20px;
 }
li a {
    color: white;

}  */
* {
   margin: 0;
}
nav {
   background-color: black;
   display: block;
   align-content: center;
}

.mobile-nav {
   display: none;
}

.nav-navbar{
   display: flex;
}
.nav-contents {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 0.5em 7em;
}

.nav-link{
   text-decoration: none;
   color: white;
}
.nav-item {
   list-style: none;
   margin: 0;
   padding: 0;
}
.nav-brand img{
   width: 23px;
}
@media screen and (max-width: 840px) {
   .mobile-nav {
      display: flex;
      align-items: center;
   }
   .bars {
      color: wheat;
      right: 0;
      width: 10%;
      display: flex;
      justify-content: center;
   }
   .fa-bars {
      cursor: pointer;
      border: solid 1px red;

   }
   .nav-brand {
      width: 80%;
      display: flex;
      justify-content: center;
   }
   .nav-contents {
      display: none;
      position: absolute;
      background: black;
      min-width: 300px;
      height: 400px;
      z-index: 100;

   }
   .mobile-nav {
      display: flex;
      align-items: center;
      padding: 0.5em 0;
   }
   
}